.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-sidebar {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.redirect-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.redirect-button:hover {
  background-color: #0056b3;
}
